<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CategoryFilterServlet</servlet-name>
    <servlet-class>servlet.CategoryFilterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FileOrderServlet</servlet-name>
    <servlet-class>servlet.FileOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TagFilterServlet</servlet-name>
    <servlet-class>servlet.TagFilterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TypeFilterServlet</servlet-name>
    <servlet-class>servlet.TypeFilterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>servlet.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeAccountServlet</servlet-name>
    <servlet-class>servlet.ChangeAccountServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchFileServlet</servlet-name>
    <servlet-class>servlet.SearchFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DynamicServlet</servlet-name>
    <servlet-class>servlet.DynamicServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserDeleteFileServlet</servlet-name>
    <servlet-class>servlet.UserDeleteFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TagToUnlog</servlet-name>
    <servlet-class>servlet.TagToUnlog</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PopCategoryServlet</servlet-name>
    <servlet-class>servlet.PopCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UploadHandleServlet</servlet-name>
    <servlet-class>servlet.UploadHandleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateFileServlet</servlet-name>
    <servlet-class>servlet.UpdateFileServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>readServlet</servlet-name>
    <servlet-class>servlet.readServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryFilterServlet</servlet-name>
    <url-pattern>/servlet/CategoryFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileOrderServlet</servlet-name>
    <url-pattern>/servlet/FileOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagFilterServlet</servlet-name>
    <url-pattern>/servlet/TagFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TypeFilterServlet</servlet-name>
    <url-pattern>/servlet/TypeFilterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/servlet/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeAccountServlet</servlet-name>
    <url-pattern>/servlet/ChangeAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchFileServlet</servlet-name>
    <url-pattern>/servlet/SearchFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DynamicServlet</servlet-name>
    <url-pattern>/servlet/DynamicServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserDeleteFileServlet</servlet-name>
    <url-pattern>/servlet/UserDeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagToUnlog</servlet-name>
    <url-pattern>/servlet/TagToUnlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PopCategoryServlet</servlet-name>
    <url-pattern>/servlet/PopCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadHandleServlet</servlet-name>
    <url-pattern>/servlet/UploadHandleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateFileServlet</servlet-name>
    <url-pattern>/servlet/UpdateFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>readServlet</servlet-name>
    <url-pattern>/servlet/readServlet</url-pattern>
  </servlet-mapping>
</web-app>